.container{

    margin-left: 60px;
   
}

.trailer{
    border: 2px transparent black;
    border-radius : 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.892);
   
    
}

.title{
   
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 10px;
}